h1{
    text-align: center;
    background-color: aqua;
}
.bet{
    display: flex;
    padding-left:300px;
    
}
.rat{
    display: flex;
    padding-left:300px;
    margin-top:190px;
    margin-left:30px;  
}
.cat:hover{
 box-shadow:5px 5px 5px 5px;
}
.mat:hover{
    box-shadow:5px 5px 5px 5px;
}
.tab:hover{
    box-shadow:5px 5px 5px 5px
}
.let:hover{
    box-shadow:5px 5px 5px 5px
}
